<h1>Your Saved Books</h1>

<!-- <table> -->
<!--   <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Publisher</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead> -->

    <% @books.each do |book| %>
      <div class="book_info">
        <img src="<%= book.url %>" class="book_cover">
         <ul class="book_attrs">
          <li><%= book.title %></li>
          <li><%= book.author %></li>
          <li><%= book.publisher %></li>
          <li><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %></li>
         </ul>
      <div>
    <% end %>
<div id="bottom"></div>

  <!-- <%= link_to 'I want to add a book', new_book_path %> -->

